body{
    text-align: center;
}
div {
    display: inline-block;
}
#table {
    display: block;
    margin-top: 20px;   
    border: 2px solid #002266;
}

tr:hover {
    background-color: gray;
}
tr td{
    color: black;
    background-color: #cccccc;
}
th {
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman';
    background-color: black;
    color: white;
    padding: 30px;  
}
td {
    font-size: medium;
    font-family: Arial;
}
th, td {
    border: 2px solid #002266;
    padding:  20px;

}
td:nth-child(1) {
    inline-size: 40px;
}
td:nth-child(2) {
    inline-size: 40px;
}
td:nth-child(3) {
    inline-size: 300px;
}
td:nth-child(4) {
    inline-size: 1020px;
}
